*.log
*.trs
filecomp
rulescomp
keymap
keysym
state
context
rules-file
stringcomp
buffercomp
keyseq
log
interactive-evdev
rmlvo-to-kccgst
rmlvo-to-keymap
print-compiled-keymap
atom
x11
interactive-x11
interactive-wayland
utf8
x11comp
compose
