name: macos

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# Set permissions at the job level.
permissions: {}

jobs:
  macos:
    runs-on: macos-12
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          brew install bison libxml2 meson ninja pyyaml
          brew link bison --force
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1
          HOMEBREW_NO_INSTALL_CLEANUP: 1
      - name: Setup
        run: |
          PATH="/usr/local/opt/bison/bin:${PATH}" meson setup -Denable-wayland=false -Denable-x11=false build
      - name: Build
        run: |
          PATH="/usr/local/opt/bison/bin:${PATH}" meson compile -C build
      - name: Test
        run:
          meson test -C build --print-errorlogs
